html body {
    font-family: "Montserrat", "Nunito Sans", "Merriweather";
    margin: 0px;
    padding: 0px;
}
p, h2 {
    line-height: 24px;
}
nav {
    background-color: #00284c;
    margin-bottom: 16px;
    padding-bottom: 16px;
    width: 100%;
    max-width: 600px;
}
nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

nav a:hover {
    text-decoration: underline;
    color: #FFCB05;
    background-color: #00284c;
}

.logo {
    max-height: 60px;
    padding-top: 16px;
}
.skip a {
    position: absolute;
    top: -65px;
    left: 0;
    right: 0;
}
.skip a:focus {
    top: 25px;
    background-color: white;
    color: black;
    font-weight: bold;
}

:focus {
    border: dashed 5px green;
}

.umsihome{
    width: 100%;  /*sourced from w3 schools https://www.w3schools.com/Css/css_rwd_videos.asp*/
    height: auto;
    padding-top: 18px;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
main.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    align-items: center;
    justify-items: center;
    padding: 10px;
    max-width: 600px;
    margin: 0 auto;
}
h1 {
    font-size: 30px;
    padding-bottom: 8px;
}
h2 {
    font-size: 20px;
    text-align: center;
    padding-bottom: 14px;
}

.skip {
    grid-column: 1 / span 2;
    grid-row: 1;
}
.resource {
    grid-column: 1 / span 2;
    grid-row: 2;
    padding-left: 12px;
}
.start{
    grid-column: 2;
    grid-row: 3;
    padding-left: 12px;
}
.popular {
    grid-column: 1 / span 2;
    padding: 16px;
    grid-row: 5;
}
.connect {
    grid-column: 1 / span 2;
    grid-row: 4;
}

.popular a {
    padding-bottom: 8px;
}
.start-img {
    grid-row: 3;
    grid-column: 1 /span 1;
    max-height: 170px;
}

.popular li {
    padding-top: 8px;
    padding-left: 8px;
    margin-bottom: 8px;
    gap: 4px;
    list-style-type: none;
    line-height: 24px;
}

.start li {
    padding-left: 8px;
    margin-bottom: 8px;
    gap: 4px;
    list-style-type: none;
    line-height: 24px;
}
.resource li {
    padding-top: 10px;
    line-height: 24px;
}

.start a {
    text-decoration: none;
    color: #00437a;
    font-weight: 600;
}
footer {
    background-color: #00284c;
    color: white;
    font-weight: bold;
    margin-top: 16px;
    padding: 16px;
}
footer a {
    color: #FFCB05;
}

main.recontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    align-items: center;
    justify-items: center;
    padding: 10px;
    max-width: 600px;
    margin: 0 auto;
}
.resumeimg {
    grid-column: 1 / span 2;
    grid-row: 1;
    width: 100%;
    height: auto;
}

section.resumewriting, section.resumeresource, section.resumefaq, section.resumett {
    grid-column: 1 / span 2;
    padding: 8px;
    line-height: 24px;
}
section.resumetips {
    grid-row: 2;
    grid-column: 1 / span 2;
    padding: 8px;
}

.studentimg {
    max-height: 150px;
}

main.networkcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
    padding: 16px;
    align-items: center;
    justify-content: center;
}
section.networktips {
    grid-column: 1 / span 2;
    grid-row: 3;
}

.studentimg {
    width: 100%;
    height: auto;
    max-height: 420px;
    grid-column: 1 / -1;
    justify-self: center;
}
main.portfoliomain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
    padding: 16px;
    align-items: center;
    justify-content: center;
}

.portfolioimg {
    grid-column: 1 / -1;
    width: 100%;
    height: auto;
}

.portfolio {
    grid-column: 1 / -1;
}

.portfolioneed {
    grid-column: 1 / -1;
    padding-left: 10px;
}

.portfolioresource {
    grid-column: 1 / -1;
    padding-left: 10px;
}

.portfoliotips {
    grid-column: 1 / -1;
    padding-left: 10px;
}
.networkstrat li, .networktips li {
    line-height: 24px;
}
.portfolioneed li, .portfolioresource li, .portfoliotips li {
    line-height: 24px;
}